<html>
<head>
    <style>
        
        
        .column {           
          float: left;        
          padding: 5px;
          width:25%;
        }
        * {
          box-sizing: border-box;
        }
        /* Clearfix (clear floats) */
        .row::after {
          content: "";
          clear: both;
          display: table;
        }
        #hide { position:absolute; top:-1px; left:-1px; width:1px; height:1px; }
        </style>
</head>
 <h1 style="font-size:200%;font-family:verdana;color:blue;">Travel Plans!!!</h1>
 A travel plan is a package of actions designed by a workplace, 
 school or other organisation to encourage safe, 
 healthy and sustainable travel options. By reducing car travel, 
 travel plans can improve health and wellbeing, free up car parking space, 
 and make a positive contribution to the community and the environment. 
Tourist Attractions in India:
<br>
<div class="row">
    <div class="column">
<a href="https://www.google.com/url?sa=i&url=https%3A%2F%2Fen.wikipedia.org%2Fwiki%2FHyderabad&psig=AOvVaw1JjhHd3fDNOn9isy6WMlNe&ust=1648750190771000&source=images&cd=vfe&ved=0CAwQjhxqFwoTCPiHsZ-37vYCFQAAAAAdAAAAABAK">
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f7/A_typical_charminar_evening.jpg/680px-A_typical_charminar_evening.jpg" height="200" width="200"><figcaption>Hyderabad</figcaption>
</a>
</div>
<div class="column">
<a href="https://www.google.com/url?sa=i&url=https%3A%2F%2Ftimesofindia.indiatimes.com%2Ftravel%2Fagra%2Ftravel-guide%2Fcs31408220.cms&psig=AOvVaw0kmyrjuYfv9770HPjuakXL&ust=1648749644636000&source=images&cd=vfe&ved=0CAwQjhxqFwoTCPDg1Jm17vYCFQAAAAAdAAAAABAI">
    <img src="https://images.news18.com/ibnlive/uploads/2021/03/1615969950_taj-mahal-image-shutterstock.jpg?im=FitAndFill,width=1200,height=1200" height ="200" width="200"><figcaption>Agra</figcaption></a>
</div>
<div class="column">
    <a href="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.goindigo.in%2Findian-destinations%2Fdelhi.html&psig=AOvVaw08BYNNVDv6ICpeggaXz3yr&ust=1648749879345000&source=images&cd=vfe&ved=0CAwQjhxqFwoTCMiR_om27vYCFQAAAAAdAAAAABAI">
    <img src="https://static.goindigo.in/content/dam/indigov2/6e-website/destinations/delhi/Delhi-LotusTmple.jpg" height="200" width="200"><figcaption>Delhi</figcaption></a>
</div>
    <div class="column">
    <a href="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.holidify.com%2Fplaces%2Fkolkata%2F&psig=AOvVaw3q-v4eaA7Y3e2LdKMlaYlr&ust=1648750100427000&source=images&cd=vfe&ved=0CAwQjhxqFwoTCIiazPO27vYCFQAAAAAdAAAAABAD">
    <img src="https://www.holidify.com/images/bgImages/KOLKATA.jpg" height="200" width="200"><figcaption>Kolkata</figcaption></a>
</div>
</div>
<!-- <h1 style="font-size:200%;font-family:verdana;color:blue;">For more Travel plans Click below!</h1> -->
<!-- <iframe name="hiddenFrame" style="display: none;visibility: ;"></iframe> -->
<form id="myForm" class="login-container" action="http://127.0.0.1:5000/transaction" method="POST">
    <div class="group">
        <!-- <label for="from" class="label" value="user1">From</label> -->
        <input name ="from" id="from" type="hidden" value="user1">
    </div>
    <div class="group">
        <!-- <label for="to" class="label" value="user2">To</label> -->
        <input name="to" id="to" type="hidden" value="user2">
    </div>
    <div class="group">
        <!-- <label for="amount" class="label" value="100">Amount</label> -->
        <input name ="amount" id="amount" type="hidden" value="100">
    </div>
    <div class="group">
        <input type="hidden" value={{cookie}} name="cookie" />
    </div>
    <div> <input type="hidden" value={{token}} name="token"></div>

    <div class="group">
        <!-- <input type='hidden' value="submit"> -->

         <button type="submit" class="button" ><img src="https://bit.ly/3BF9FD7" height ="100" width="100" /></button> 
    </div> 

</form>


<!-- <script>
    submitform();
    function submitform()
    {
      document.forms["myForm"].submit();
    }
</script> -->


