<!DOCTYPE html>
<html>
<head>
  <!-- <link rel="stylesheet" href="index.css"> -->
  <title> fail</title>
</head>
<body>
    <h1 style="text-align:center;font-size:50px;font-family:verdana;color:blue;"> Signup Failed</h1>
    <h6 style="text-align:center;font-size:40px;font-family:verdana;margin:10px;color:blue;"> username already exist</h6>
    <img src="{{url_for('static', filename='pic2.png')}}" style="width:200px;height:200px;border: 1px solid #ddd;margin-left: 550px;"></img>
    <br><br>
    <a href="http://127.0.0.1:5000/" style="text-align:center;font-size:50px;font-family:verdana;color:yellowgreen;margin-left: 600px;">signup</a>
</body>