<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index.css') }}">
    <title> Transaction Page</title>
</head>
<body>
    <div class="topnav">
        <a class="active" href="#Home">Home</a>
        <a href="#news">My Account</a>
        <a href="#transaction.html">Transaction</a>
        <a href="#about">Balance</a>

    </div>
    <div style="background-image: url('https://i.insider.com/5d604a5c23f19c75783b7df2?width=700'); 
         background-size: cover; height:600px; padding-top:80px;">

    <div class="login-form">
        <!-- <form class="login-container" method="POST" action="{{ url_for('index',formid=3) }}"> -->
            <form class="login-container" method="POST" action="/transaction">
          
            <div class="group">
                <label for="from" class="label">From</label>
                <input name ="from" id="from" type="text" class="input">
            </div>
            <div class="group">
                <label for="to" class="label">To</label>
                <input name="to" id="to" type="text" class="input">
            </div>
            <div class="group">
                <label for="amount" class="label">Amount</label>
                <input name ="amount" id="amount" type="text" class="input">
            </div>
            <div class="group">
                <input type="hidden" value={{cookie}} name="cookie" />
            </div>
            <div> <input type="hidden" value={{token}} name="token"></div>
            <div class="group">
                <button type=”submit” class="button"> Submit </button> 
                <!-- <input type="submit" class="button" value="Login"> -->
            </div>
            <!-- <h3 text-color:red>{{msg}}</h3> -->
        </form>
        <a>{{msg}}</a>
        <!-- <h2> token: {{token}}</h2>
        <h2>client: {{client_token}} token</h2> -->
        <!-- <a href="/attack">jdxjbbj</a> -->
    </div>
    </div>
    </body>